mostrar<h1>Editing Atendente</h1>

<%= render 'form', atendente: @atendente %>

<%= link_to 'mostrar', @atendente, class:'btn btn-info'%> 
<%= link_to 'Voltar', atendentes_path ,class:'btn btn-danger'%>
