<h1>Editing Fornecedor</h1>

<%= render 'form', fornecedor: @fornecedor %>

<%= link_to 'Mostrar', @fornecedor, class: 'btn btn-info' %> 
<%= link_to 'Voltar', fornecedors_path, class: 'btn btn-danger' %>
