<h1 class='col-md-12 text-center'>Editar Cliente</h1>

<%= render 'form', cliente: @cliente %>

<%= link_to 'mostrar', @cliente,class:'btn btn-info'%> 
<%= link_to 'Voltar', clientes_path,class:'btn btn-danger'%>
