<h1 class='col-md-12 text-center'>Editar Pedido</h1>

<%= render 'form', pedido: @pedido %>

<%= link_to 'Mostrar', @pedido ,class:'btn btn-info'%> |
<%= link_to 'Voltar', pedidos_path,class:'btn btn-danger' %>
